// theme.scss

// COLOR

$main-color: #e28139;
$alt-color: #5d8ecc;
$black: #282828;
$grey: rgba(60, 60, 60, .5);
$white: #fff;

// Font

$dosis: 'Dosis', sans-serif;
$title-bold: 700;
$subtitle-medium: 500;
$text: 300;